@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #f0efef;
}
.jumbotron{
	background-color: #bccad6;
}
.well{
	background-color: #8d9db6;
}

.login-form{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.login-form .login-form-heading{
	margin-bottom: 10px;
}

.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.green-url a{
	color: green !important;
}