<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to('Google Scrapper', root_path, id: "logo") %>
		<nav>
		<ul class="nav navbar-nav navbar-right">
			<% if current_user %>
		      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
		    <% end %>
		</ul>
		</nav>
	</div>
</header>